@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("http://tinyurl.com/zccb4g2");
  font-family: Courier new, lucida console;
  font-size: 15px;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  color: White;
  font-size: 50px;
  padding: 50px 10px;
  text-align: center;
  margin-top: 150px;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  text-align: center;
}

.center {
    width: 60%;
    padding: 10px;
    background-color: #ffffff;
    margin: auto; 
	text-align: center;
	border-radius: 25px;
}

.button {
    background-color:#b3d1ff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 4px;
    cursor: pointer;
	border-radius: 25px;
}

input {
    width: 80%;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 80%;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
 
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
 
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

